.quote {
    color: red;
    font-style: italic;
}

.all {
    margin-bottom: 50px;
    background-color: #f2f2f2;
    padding: 20px;
    border-color:  #d9d9d9;
    border-width: 3px;
    border-style: solid;
}

.heart_icon {
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}

.heart_icon:hover {
    filter: brightness(0.9);
}

.heart_icon:active {
    filter: brightness(0.7);
}

.comment_icon {
    width: 25px;
    margin-left: 20px;
    cursor: pointer;
}

.likes_container {
    display: flex;
    justify-content: center;
}