.quote {
    color: red;
    font-style: italic;
}

.all {
    margin-bottom: 50px;
    background-color: #f2f2f2;
    padding: 20px;
    border-color:  #d9d9d9;
    border-width: 3px;
    border-style: solid;
}

.heart_icon {
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}

.heart_icon:hover {
    filter: brightness(0.9);
}

.heart_icon:active {
    filter: brightness(0.7);
}

.comment_icon {
    width: 25px;
    margin-left: 20px;
    cursor: pointer;
}

.likes_container {
    display: flex;
    justify-content: center;
}

.deleteButton {
    width: 80px;
    height: 45px;
    border: solid;
    color: white;
    background-color: red;
    border-radius: 4px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    border-color: black;
}

.updateButton {
    width: 80px;
    height: 45px;
    border: solid;
    color: white;
    background-color: rgb(25, 187, 46);
    border-radius: 4px;
    margin: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color: black;
}

.updateButton:hover {
    cursor: pointer;
}

.deleteButton:hover {
    cursor: pointer;
}

.commentText {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 0.5rem;
    font-style: italic;
}

.commentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}